.auth-container1{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 80vh;
    flex-direction: column;
}
.auth-container{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
/*    flex-direction: column;*/
     border: 1px solid black;   
     border-style: dotted;
     border-radius: 20px;
    flex-flow: column wrap;
    gap: 15px;
    text-align: center;
}
.form-group{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(106, 144, 194);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    color: rgb(2, 2, 2);
    font-weight:500 ;
    text-align: left;
}
.field-error{
    margin: 5px;
    text-align: center ;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
}
.button{
    margin: 10px;
    padding: 10px;
    background-color: rgb(138, 187, 228);
    border: 1px solid black;
    border-radius: 8px;
    width: 100px;
    font-weight: 500;
}
.register{
    margin: 10px;
    padding: 10px;
    background-color: rgb(138, 187, 228);
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 500;
}
.register1{
    color: rgb(13, 70, 228);
    text-decoration: underline;
    
}
.button:hover{
    background-color: rgb(71, 111, 223);
    color: rgb(15, 14, 14);
}
.register:hover{
    background-color: rgb(71, 111, 223);
    color: rgb(15, 14, 14);
}
.register1:hover{
    color: rgb(15, 14, 14);
}